# for other requirments like numpy, matplotlib and pandas the versions of 
# the LiionDB are installed after the git clone
galpynostatic==0.5.1
numpy==2.0.1
psycopg2==2.9.9
scipy==1.14.0
scikit-learn==1.5.1
setuptools==72.2.0
sqlalchemy==2.0.32
